.fa-female {
  font-size: 4rem;
    color: #3c3a3a;
}

.restaurantMarker {
  width: 60px;
  height: 20px;
  background: greenyellow;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 4px;
  justify-content: center; 
  text-align: center; 
}