.searchInputContainer {
  margin-bottom: 30px;
  width: 100%;
  margin: 0 auto; }

.happyHoursContainer .searchInputContainer {
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.happyHoursContainer .searchBarContainer {
  margin-top: -35px;
  z-index: 9;
  position: relative; }

.happyHoursContainer .autocompleteContainer {
  margin: 0 auto;
  width: 80%; }

.happyHoursContainer .fa-search {
  top: 20px; }

.searchInput,
.searchInput:focus,
.searchInput:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: calc(100% - 40px);
  background: white;
  padding: 20px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  margin-bottom: 20px; }

.happyHoursContainer .searchInput {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.clearButton,
.clearButton:active,
.clearButton:focus {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: #999; }

.autocompleteContainer {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px; }

.suggestionItem {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer; }

.suggestionItem--active {
  background-color: #fafafa; }

@media (max-width: 480px) {
  .autocomplete-container {
    text-align: left; } }

@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein .75s;
    -moz-animation: fadein .75s;
    -ms-animation: fadein .75s;
    -o-animation: fadein .75s;
    animation: fadein .75s; }
  .btn {
    margin-top: 1.5rem; }
  .form-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%; }
  .happyHoursContainer .findLocationDropdown {
    width: 46%; } }
