* {
  font-family: 'Nunito', sans-serif; }

.homeContainer {
  width: 600px;
  margin: 50px auto 0 auto;
  text-align: center; }

.homeLogo {
  height: 250px; }

.homeContainer h2 {
  font-weight: 300;
  color: #555;
  font-size: 1.3rem;
  margin-top: 60px; }

.homeSearchForm {
  display: flex;
  flex-direction: column;
  position: relative; }

.homeSearchInput {
  margin-bottom: 20px;
  border-radius: 5px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 0 70px; }

.homeSearchInput::placeholder {
  color: #999;
  text-align: center; }

.homeSearchSubmit {
  height: 60px;
  background: #fdb82a;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px; }

.homeSearchSubmit:hover {
  cursor: pointer; }

.fa-map-marker-alt {
  font-weight: 900;
  font-size: 1.7rem;
  color: #ccc;
  position: absolute;
  left: 30px;
  top: 15px; }

.fa-search {
  font-weight: 900;
  font-size: 1.7rem;
  color: #ccc;
  position: absolute;
  right: 30px;
  top: 15px; }
