.restaurantSpecialsContainer {
  width: calc(80% - 60px);
  padding: 30px;
  box-shadow: 1px 1px 1px 1px #cccc;
  margin: 50px auto 50px auto;
  border-radius: 20px;
}

.restaurantHappyHoursContainer {
  padding: 40px 0 20px 0;
}

.restaurantContainer h2 {
  color: #666;
  font-size: 2rem;
  margin: 10px 0 0 0;
}

.restaurantHappyHoursContainer h3 {
  color: #fdb82a;
  width: auto;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 5px;
  margin-top: 0;
}

.restaurantHappyHoursContainer h4 {
  font-size: 1.6rem;
  color: #999;
  margin: 0px 0 15px 0;
}

.restaurantHappyHoursContainer p {
  color: #666;
  font-size: 1.1rem;
  margin: 10px 0 10px 0;
}

.restaurantSpecials {
  display: flex;
  justify-content: space-between;
}

.special {
  flex-direction: column;
  width: 46%;
  display: flex;
}